*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.logo-image{
    width:10%;
    margin:0 auto 50px;

}



body{
    background-color: whitesmoke;
    justify-items: center;
    text-align: center;
   
}

.section{
    justify-content: center;
    text-align: center;

}

input[type="email"],
input[type="password"],
textarea {
    display: block;
    padding: 5px;
    margin-top: 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 30px;
    justify-content: center;
    margin-left:38.5%;
   
}

.login-container{
    justify-items: center;
    text-align: center;

}

.submit-btn{
    border-radius: 30px;
    border: 2px solid black;
    text-align: center;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;

}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    margin-top: 10px;
}
